<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布</title>

     <script src="/js/jquery-3.4.1.min.js"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/community.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="/js/commuty.js"></script>
    <script src="/js/editormd.min.js"></script>
    <link rel="stylesheet" href="/css/editormd.min.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>

</head>
<body>

<div th:insert="~{navgation :: copy}"></div>
<div class="container-fluid qumain">
    <!--<audio controls="controls" hidden="true" @ended="audioEnd" loop="true" autoplay="autoplay">-->
        <!--<source src="/mp/gbqq.ogg" type="audio/ogg">-->
        <!--<source src="/mp/gbqq.mp3" type="audio/mpeg">-->
        <!--<source src="/mp/gbqq.wav">-->

    <!--</audio>-->
    <!--<embed src="/mp/gbqq.flac" autostart="true" loop="true" hidden="true"></embed>-->

    <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        <h2>发起</h2>
                <hr>

                <form action="/publish" method="post"  accept-charset="utf-8">
                    <input class="hidden" name="id" th:value="${id}"  />
                    <div class="form-group">
                        <label for="title">问题标题</label>
                        <input type="text" class="form-control" name="title" id="title" th:value="${title}" placeholder="问题标题">

                    </div>
                    <div class="form-group" id="question-editor">
                        <label for="description">问题补充</label>
                        <textarea name="description" id="description" class="form-control" cols="30" style="display:none;" th:value="${description}" rows="10"></textarea>
                        <script type="text/javascript">
                            $(function () {
                                var editor = editormd("question-editor", {
                                    width: "100%",
                                    height: 350,
                                    path: "/js/lib/",
                                    delay: 0,
                                    watch: false,
                                    placeholder: "请输入问题描述",
                                    imageUpload: true,
                                    imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                    imageUploadURL: "/file/upload",
                                });
                            });
                        </script>

                    </div>
                    <div class="form-group">
                        <label for="tag">添加标签</label>
                        <input type="text" class="form-control" name="tag" id="tag" th:value="${tag}" placeholder="添加标签"
                               autocomplete="off" onclick="showselectTag()"
                            >
                        <div id="sele" class="publish-tag-tab">

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" th:each="selectCategory,selectCategoryStat:${tags}"  th:class="${selectCategoryStat.first ? 'active':''}">
                                        <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab" data-toggle="tab" th:text="${selectCategory.categoryName}"></a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane" th:id="${selectCategory.categoryName}"
                                         th:each="selectCategory:${tags}" th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}">
                                        <span class="label label-info" th:each="selectTag:${selectCategory.tags}">
                                            <span class="glyphicon glyphicon-tags" onclick="selectTag(this)" th:data-tag="${selectTag}"
                                                th:text="${' '+selectTag}"
                                            ></span>
                                        </span>
                                    </div>

                                </div>


                        </div>
                    </div>

                    <div class="container-fluid main">
                        <div class="row">
                            <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" th:text="${error}" th:if="${error != null}"></div>
                            <button type="submit" class="btn btn-success btn-publish col-lg-3 col-md-12 col-sx-12 col-xs-12">发布</button>
                        </div>
                    </div>



                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sx-12 col-xs-12" >
                <h3>问题发起指南 </h3>
                • 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br>
                • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br>
                • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
            </div>
        </div>
    </div>
</body>
</html>