<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${question.title}"></title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/commuty.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/community.css">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/editormd.min.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>

</head>
<body>

<div th:insert="~{navgation :: copy}"></div>

<div class="container-fluid qumain profile">
    <!--<audio controls="controls" hidden="true" @ended="audioEnd" loop="true" autoplay="autoplay">-->
        <!--<source src="/mp/gbqq.ogg" type="audio/ogg">-->
        <!--<source src="/mp/gbqq.mp3" type="audio/mpeg">-->
        <!--<source src="/mp/gbqq.wav">-->
    <!--</audio>-->
    <!--<embed src="/mp/gbqq.flac" autostart="true" loop="true" hidden="true"></embed>-->



    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>
                    <span th:text="${question.title}"></span>
                </h2>
                <span class="text-desc">
                    作者：<span th:text="${question.tourist.user_name}"></span>

                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view">
                    <textarea style="display:none;" th:text="${question.description}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function () {
                        editormd.markdownToHTML("question-view", {});
                    });
                </script>

                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="label label-info question-tag" th:each="tag:${question.tag.split(',')}">
                    <span class="glyphicon glyphicon-tags"></span>
                <span class="label label-info " th:text="${tag}"></span>
                </span>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a th:href="@{'/publish/'+${question.id}}" class="community-menu" th:if="${session.tourist!=null && session.tourist.getUser_id()==question.creator  }">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>

                    </a>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>
                <span th:text="${question.commentCount}"></span> 个回复
            </h4>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment:${comments}">
                <div class="media" >
                    <div class="media-left" >
                        <a href="#">
                            <img class="media-object" th:src="${comment.photo}" >
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading" >
                            <span th:text="${comment.tourist.user_name}"></span>
                        </h5>
                            <div >
                                <span th:text="${comment.content}"></span>
                                    <span class="pull-right"
                                          th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>
                            </div>
                            <div class="menu">
                                <span class="glyphicon glyphicon-thumbs-up icon"></span>
                                <span class="glyphicon glyphicon-comment icon" th:data-id="${comment.id}" onclick="collapseComments(this)"></span>

                            </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments" th:id="${'comment-'+comment.id}">

                            <div class="media" >
                                    <div class="media-left" >
                                        <a href="#">
                                            <img class="media-object"th:src="${comment.photo}" >
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading" >
                                            <span th:text="${comment.tourist.user_name}"></span>
                                        </h5>
                                        <div th:text="${comment.content}"></div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" class="form-control" placeholder="评论一下……"
                                                   >
                                            <button type="button" class="btn btn-success pull-right"
                                                   >评论
                                            </button>
                                        </div>
                                    </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
            <h4>
                提交回复
            </h4>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section" th:if="${session.user != null || session.tourist != null}">
                <div class="media" >
                    <div class="media-left" >
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${session.tourist.getUser_photo()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading" >
                            <span th:text="${session.tourist.getUser_name()}"></span>
                        </h5>

                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${question.id}">
            <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
                <button type="button" class="btn btn-success btn-publish" onclick="post()">回复</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <h3>发起人</h3>
                <div class="media"  >
                    <div class="media-left" >
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.tourist.user_photo}" >
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading" >
                            <span th:text="${question.tourist.user_name}"></span>
                            &nbsp  &nbsp  等级 : <span th:text="${question.tourist.exp}"></span>
                        </h5>

                    </div>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>站长微信</h3>
            <img src="/images/wx.jpg" alt="" class="img-thumbnail question-wechat">
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <h3>相关问题</h3>
                <ul class="question-related">
                    <li th:each="related : ${relatedQuestions}">
                        <a th:href="@{'/question/'+ ${related.id}}" th:text="${related.title}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>